
#loading-scene{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FAF5F3;
	z-index: 2;
	text-align: center;
  padding-top: 40px;
}
.loading-branding{
	display: block;
	width: 80%;
	max-width: 400px;
	margin: 0 auto;
}
#loading-message img, #loading-message h2{
	display: inline;
}
#loading-message img{
	transform: translateY(4px)
}

#ui-panel{
	/*display: none;*/
	position: absolute;
  z-index: 1;
  /*background-color: rgba(255,255,255, 0.9);*/
  padding: 20px;
  margin-left: 40px;
  margin-top: 140px;
	text-align: center;
    /*width: 300px;*/
}

#visualiser, #container{
	position: absolute;
    bottom: 0;
		left: 0;
    z-index: -1;
}

#visual-options{
  display: inline-block;
}

button.visMode-button{
	display: inline-block;
	width: 70px;
	color: white;
	background-color: #FAF5F3;
	margin: 5px;
	padding: 15px;
	text-align: center;
	border: 1px solid #9f9b99;
	border-radius: 50%;
	cursor: pointer;
}

.visMode-button img{
	width: 100%;
}

button.visMode-button.active-visual{
	background-color: #ffabab;
}

.dg.main .close-button.close-bottom {
    position: relative;
}


@media screen and (max-width: 600px) {
	#ui-panel{
    width: 100%;
    margin-left: auto;
    margin-top: 200px;
    padding: 0;
    padding-bottom: 20px;
   }


}
