/*body{
  background-image: radial-gradient(circle at center, white 0, #e290bb 100%);
}*/
header{
    position: inherit;
}
main{
  text-align: center;
  margin-top: 40px;
}

.bandcamp-embed{
  margin: 0 20px;
  margin-bottom: 40px;
  display: inline-block;
}
