body {
  margin: 0px;
  font-family: "Slabo 27px", serif;
  background-image: radial-gradient(#727780 0%, #3e4249 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

h1 {
  font-family: "Kelly Slab", cursive;
  text-transform: lowercase;
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 20px;
  color: #fefbd7; }

h2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1em;
  margin-bottom: 5px;
  color: #FAF5F3; }

h3 {
  font-family: "Slabo 27px", serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.8em;
  margin-bottom: 5px;
  margin-top: 20px;
  color: #FAF5F3; }

p {
  font-family: "Slabo 27px", serif;
  color: #FAF5F3;
  text-align: left;
  font-size: 1.2em;
  line-height: 25px; }

a {
  color: #fefbd7;
  text-decoration: none; }

hr {
  width: 60%;
  max-width: 500px;
  margin: 20px auto 30px auto; }

header {
  width: 100%;
  background: #3e4249;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  position: absolute; }

#top-nav {
  padding: 20px;
  text-align: center;
  text-transform: lowercase; }

.top-nav-link {
  padding: 0 20px;
  font-size: 16px;
  color: #fefbd7;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  vertical-align: middle; }

.top-nav-link:hover {
  text-decoration: underline; }

#indi-logo {
  vertical-align: middle;
  width: 270px;
  margin-right: 10px;
  filter: invert(1); }

#indi-logo-link {
  padding: 0px; }

.indi-social-links {
  margin: 30px auto;
  text-align: center; }
  .indi-social-links i {
    font-size: 30px;
    color: #fefbd7;
    margin: 0 10px; }

@media screen and (max-width: 800px) {
  #indi-logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px; } }
header {
  position: inherit; }

main {
  text-align: center;
  margin-top: 40px; }
  main .vault-date-period h3 {
    color: #fefbd7; }

#vault-overview {
  width: 80%;
  max-width: 800px;
  margin: 0 auto; }

.vault-date-period {
  margin-top: 40px; }

.vault-date-period h3 {
  font-size: 1.2em;
  font-family: "Kelly Slab", cursive;
  border: 1px solid #fefbd7;
  padding: 10px;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 20px; }

.bandcamp-embed {
  margin: 0 20px;
  margin-bottom: 40px;
  display: inline-block; }

#about-pressimage {
  background-image: url("../img/Indi_PressImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 500px;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto; }

#about-infocontainer, #about-pullquote {
  width: 70%;
  margin: 0 auto; }

#music-main p {
  text-align: center; }

#music-heroimage {
  background-image: url("https://i.scdn.co/image/71084d90fdbe0c2850ef60ee12c1e43399001359");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto; }

#music-pullquote {
  line-height: 25px; }

#music-infocontainer, #music-pullquote {
  width: 70%;
  margin: 0 auto; }

#music-albumhosts {
  margin: 30px auto;
  text-align: center; }
  #music-albumhosts i {
    font-size: 40px;
    color: #fefbd7;
    margin: 0 10px; }

body.landing header {
  position: absolute; }

#loading-scene {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3e4249;
  z-index: 2;
  text-align: center;
  padding-top: 40px; }

.loading-branding {
  display: block;
  width: 80%;
  max-width: 400px;
  margin: 0 auto; }

#loading-message img, #loading-message h2 {
  display: inline; }
#loading-message img {
  transform: translateY(4px); }

#ui-panel {
  position: absolute;
  z-index: 1;
  padding: 20px;
  margin-left: 40px;
  margin-top: 140px;
  text-align: center; }

#visualiser, #container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1; }

#visual-options {
  display: inline-block; }
  #visual-options #visualmode-header {
    color: #3e4249;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1em;
    margin-bottom: 5px; }
  #visual-options #vissettings-header, #visual-options #audiosettings-header {
    color: #3e4249;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 0.8em;
    margin-bottom: 5px;
    margin-top: 20px; }

button.visMode-button {
  display: inline-block;
  width: 70px;
  color: white;
  background-color: #FAF5F3;
  margin: 5px;
  padding: 15px;
  text-align: center;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer; }

button.visMode-button.active-visual {
  background-color: #E1F3F2; }

.visMode-button img {
  width: 100%; }

.dg.main .close-button.close-bottom {
  position: relative; }

@media screen and (max-width: 600px) {
  #ui-panel {
    width: 100%;
    margin-left: auto;
    margin-top: 200px;
    padding: 0;
    padding-bottom: 20px; } }

/*# sourceMappingURL=main.css.map */
