#about-pressimage{
  background-image: url('../img/Indi_PressImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 90%;
  margin: 0 auto;
}

#about-infocontainer, #about-pullquote{
  width: 70%;
  margin: 0 auto;
}
.about-infosection{
  font-size: 18px;
}
