#music-main{
  text-align: center;
  p{
    text-align: center;
  }
}

#music-heroimage{
  background-image: url('https://i.scdn.co/image/71084d90fdbe0c2850ef60ee12c1e43399001359');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh; //500px;
  margin: 0 auto;
  padding-top: 100px;
}

#music-infocontainer{
  width: 70%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #faf5f3;
  border-radius: 8px;
  padding: 10px;
}

#music-title{
  margin: 0px;
  margin-bottom: 20px;
}

#music-pullquote{
  line-height: 25px;
}

#music-albumhosts{
  margin: 20px auto;
  text-align: center;
  i{
    font-size: 40px;
    color: $secondary-color;
    margin: 0 10px;
  }
}
