.video-container{
  width: 100%;
  // width: 100vw;
  height: 100%;
  height: 100vh;
}
.music-video--blurred{
  -webkit-animation: blur 0.5s linear forwards;
  -moz-animation: blur 0.5s linear forwards;
  -ms-animation: blur 0.5s linear forwards;
  -o-animation: blur 0.5s linear forwards;
  animation: blur 0.5s linear forwards;
}
.music-video--noblur{
  -webkit-animation: blur 0.5s linear backwards;
  -moz-animation: blur 0.5s linear backwards;
  -ms-animation: blur 0.5s linear backwards;
  -o-animation: blur 0.5s linear backwards;
  animation: blur 0.5s linear backwards;
}
@keyframes blur {
  to {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    filter: blur(20px);
  }
}

#music-infocontainer{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;

  p{
    text-align: center;
  }
}

#music-info{
  width: 70%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #faf5f3;
  border-radius: 8px;
  padding: 20px;
  opacity: 0.9;
  position: relative;
}

@mixin badbutton {
  // default overrides
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

#music-infoclose{
  @include badbutton;

  font-size: 20px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  color: $secondary-color;
}

#music-infoopen{
  @include badbutton;
  height: 100px;
  width: 100px;

  position: absolute;
  top: 10px;
  right: 10px;
  margin: 10px 10px 0 0;

  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  border-radius: 50%;

  background-image: url('../img/Indi_AlbumCover.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  display: none;
}

#music-albumthumb{
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

#music-title{
  font-size: 3.5rem;
  margin: 0px;
  margin-bottom: 20px;
}

#music-pullquote{
  line-height: 25px;
}

#music-albumhosts{
  margin: 20px auto;
  text-align: center;
  i{
    font-size: 40px;
    color: $secondary-color;
    margin: 0 10px;
  }
}

.music-page.indi-social-links{
  margin: 0px;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  background-color: #faf5f3;

  div{
    margin: 30px auto;
  }
}
