header{
    position: inherit;
}
.vault__container{
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.vault__title{
  width: 100%;
  margin-top: 0;
}

.vault__overview{
  margin-bottom: 30px;
  width: 100%;
}


.vault__musictile--active{
  display: inline-block;
  position:relative;
  width: 100%;
}

.vault__tilebackground{
  background-image:  url('https://f4.bcbits.com/img/a2201458935_16.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  filter: blur(10px);
  z-index:-1;
}

.vault__tileimg{
  height: 300px;
  margin: 20px;
  width: 300px;
}

.vault__tilecontent{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.vault__tiledescription {
  flex-grow: 1;
  max-width: 700px;
  min-width: 300px;
  padding: 20px;

  h2{
    font-size: 2rem;
    margin-top: 0;
    letter-spacing: 5px;
  }
  h3{
    font-size: 1.5rem;
  }
}

.vault__tileiframe{
  display: block;
  margin: 0 auto;
}



.vault__musictile{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  margin: 20px;
  width: 300px;
}
.vault__musictile.hidden{
  display: none;
}
